:root {
    --button: #BB1D1D;
}


/* HEADER */
.sesion {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-right: 15px;
    display: flex;
    
}
.logo {
    max-width: 150px;
     margin-left: 10%;
}
.logo-div {
    display: flex;
    justify-content: center;
    flex: 2;
}
.circle-icon {
    padding: 9px;
    border-radius: 100%;
    color: var(--button);
    opacity: 88%;
} 
.sesion fa-icon {
    font-size: 30px;
}
.class1 {
    color: var(--button-click);
}
.circle-icon:hover {
    color: var(--button-click);
}
.circle {
    padding: 9px;
    border-radius: 100%;
    color: var(--button);
    opacity: 88%;
}
.boton:hover {
    background-color:aliceblue;
    box-shadow: 0px 15px 20px rgba(255, 255, 255, 0.4);
    color: black;
    transform: translateY(-7px);
}
.mat-icon-button {
    background-color: var(--button);
}
.mat-icon-button:hover {
    background-color: var(--button-click);
}
