.results {
  background-color: white;
  color: black;
  padding: 10px;
  text-align: center;
}
.results div:nth-child(1) {
  padding-bottom: 10px;
}
a {
  color: black;
}
.link-extras {
  padding-top: 10px;
  width: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  text-align: center;
  justify-content: center;
  align-items: center;
}
a:hover {
  color: red;
}
.results__info {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 30px;
}
.mat-expansion-panel {
  margin-bottom: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.accordion-container {
  padding-bottom: 80px;
}

.card-icon img {
  object-fit: contain;
  height: 60px;
}
