h2 {
    color: white;
    text-align: center;
}
.atras {
    margin-left: 20px;
}
.container-pass {
    background-color: white;
    padding: 25px;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-bottom: 80px;
    font-size: 1.1rem;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);

}
.pass-img {
    max-width: 200px;
}
.pass-img img {
    object-fit: contain;
    max-width: 100%;
}
.pass-grid {
    display: grid;
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
}
.planeSearch2 {
    max-width: 40%;
}
.qr {
    display: flex;
    justify-content: center;
}
@media (min-width: 768px) {
    .container-pass {
        width: 60%;
        border-radius: 24px;
    }
    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
        margin-bottom: 30px;
        min-height: 75vh;
    }
    h2 {
        font-size: 1.6rem;
    }
}
@media (min-width: 1200px) {
    .container {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    .container-pass {
        width: 40%;
    }
    .atras {
        padding-bottom: 40px;
    }

}