<div class="login">
  <form class="form-login" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <h3>Registrarse</h3>
    <div class="form-group">
      <label>Nombre</label>
      <input type="text" class="form-control" formControlName="name" />
    </div>
    <div class="error" *ngIf="errors?.name">
      {{ errors?.name }}
    </div>
    <div class="form-group">
      <label>Correo electrónico</label>
      <input type="email" class="form-control" formControlName="email" placeholder="ejemplo@ejemplo.com"/>
    </div>
    <div class="error" *ngIf="errors?.email">
      {{ errors?.email }}
    </div>
    <div class="form-group">
      <label>Contraseña</label>
      <input type="password" class="form-control" formControlName="password" />
    </div>
    <div class="error" *ngIf="errors?.password">
      {{ errors?.password }}
    </div>
    <div class="form-group">
      <label>Confirme contraseña</label>
      <input
        type="password"
        class="form-control"
        formControlName="password_confirmation"
      />
    </div>
    <div class="error" *ngIf="errors?.password_confirmation">
      {{ errors?.password_confirmation }}
    </div>
    <div class="form-group">
      <label>Rol</label>
      <select name="role" id="role" formControlName="role" >
        <option value="" disabled>Elige el rol:</option>
        <option *ngFor="let role of roles" [ngValue]="role">{{role}}</option>
        
      </select>
    </div>
    <div class="boton">
      <button type="submit">
        Registrarse
      </button>
    </div>
  </form>
</div>