<div class="covid-container">
    <h2>Información importante para tu viaje</h2>
    <div class="img-container">
        <img src="assets/covid-img.jpg" alt="Hombre esperando en el aeropuerto mientras mira por la ventana">
    </div>
    <p>Las restricciones de viaje cambian con regularidad. Aquí podrás encontrar una lista de requisitos antes de viajar.</p>
    <ul>
        <li>Asegúrate de tener toda la documentación Covid-19 necesaria para entrar a tu país de destino, ya que dependiendo de este, los requisitos pueden cambiar.
        </li>
        <li>Sin esta documentación esencial, es posible que no puedas viajar.</li>
        <li>La documentación necesaria de Covid-19 puede incluir, pero no está limitada a:</li>
        <ol>
            <li>Formulario de localización de pasajeros</li>
            <li>Certificado digital Covid</li>
            <li>Prueba de test antígeno/PCR negativa</li>
        </ol>
    </ul>
    <p>Si desea conocer a fondo las restricciones en el país de destino, visite su página oficial. Algunas de ellas son:</p>
    <ul class="flex">
        <li><a href="https://www.interieur.gouv.fr/covid-19-deplacements-internationaux">Francia</a></li>
        <li><a href="https://www.gov.ie/en/publication/77952-government-advice-on-international-travel/">Irlanda</a></li>
        <li><a href="https://www.esteri.it/en/ministero/normativaonline/focus-cittadini-italiani-in-rientro-dall-estero-e-cittadini-stranieri-in-italia/">Italia</a></li>
        <li><a href="https://travelsafe.spain.info/en/">España</a></li>
        <li><a href="https://www.gov.uk/uk-border-control">Reino Unido</a></li>
    </ul>
</div>