
h2 {
    color: white;
    text-align: center;
}
.row {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form {
    background-color: white;
    padding-top: 30px;
    padding-bottom: 30px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 80px;
}
.atras button {
    margin-left: 20px;
}
.atras {
    padding-bottom: 20px;
}
.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 300px;
}
.form-group input {
    width: 100%;
    height: 30px;
    margin-top: 10px;
    margin-bottom: 20px;
}
.form-group textarea {
    height: 80px;
    margin-top: 10px;
    margin-bottom: 20px;
    resize: none;
}
.send {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

label {
    padding-top: 10px;
}
@media (min-width: 768px) {
    .form {
        width: 60%;
        border-radius: 24px;
    }
    
    .help-form {
        min-height: 80vh;
    } 
    .form-container {
        display: flex;
        justify-content: center;
        padding-bottom: 70px;
        padding-top: 20px;
    }
    h2 {
        font-size: 1.6rem;
    }
}
@media (min-width: 1200px) {
     .atras {
        position: relative;
        bottom: 0;
    }
    .main {
        display: flex;
        flex-direction: column-reverse;
        width: 100%;
    }
    .form {
        width: 40%;
    }
}