<div class="atras">
  <a href="/">< Atrás</a>
</div>
<div class="change-password">
    <form
      class="form-signin"
      [formGroup]="changePasswordForm"
      (ngSubmit)="onSubmit()"
    >
      <h3>Cambiar contraseña</h3>
      <div class="form-group">
        <label>Correo electrónico</label>
        <input type="email" class="form-control" formControlName="email" />
      </div>
      <div class="error" *ngIf="errors">
        {{ errors.errors.email }}
      </div>
      <div class="form-group">
        <label>Nueva contraseña</label>
        <input type="password" class="form-control" formControlName="password" />
      </div>
      <div class="error" *ngIf="errors">
        {{ errors.errors.password }}
      </div>
      <div class="form-group">
        <label>Confirme la nueva contraseña</label>
        <input
          type="password"
          class="form-control"
          formControlName="password_confirmation"
        />
      </div>
      <button type="submit">
        Restablecer contraseña
      </button>
    </form>
  </div>