.change-password {
    background-color: white;
    max-height: 510px;
    flex: 50%;
    margin: 30px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.change-password button {
    margin: 10px;
    height: 40px;
    width: 170px;
}
input {
    height: 30px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
.form-group {
    display: flex;
    flex-direction: column;
}
.error {
    color: red;
    padding-bottom: 10px;
}
.success {
    color: rgba(20, 116, 205, 0.9);
    padding: 10px;
}
.messageIcon img {
    max-width: 200px;
}
.messageIcon {
    display: flex;
    justify-content: center;
}
.atras {
    margin-left: 20px;
}
.password-container {
    min-height: 80vh;
}
@media (min-width: 768px) {
    .atras {
       position: fixed;
       bottom: 35%;
    }
    .change-password {
        width: 50%;
        flex: none;
    }
    .main {
        display: flex;
        justify-content: center;
    }
    .atras {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0;
        position: static;
    }
    h3 {
        font-size: 1.6rem;
        text-align: center;
    }
}
@media (min-width: 1200px) {
    .form-signin {
        width: 400px;
    }
    .change-password {
        width: 40%;
    }
    .password-container {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
}