.change-password {
    background-color: white;
    max-height: 510px;
    flex: 50%;
    margin: 30px;
    margin-top: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
}
.change-password button {
    margin: 10px;
    height: 40px;
    width: 170px;
}
input {
    height: 30px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
}
.error {
    color: red;
    padding-bottom: 10px;
}
.success {
    color: rgba(20, 116, 205, 0.9);
    padding: 10px;
}
.messageIcon img {
    max-width: 200px;
}
.messageIcon {
    display: flex;
    justify-content: center;
}
.atras a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    color: #000000;
    transition: 0.3s;
    padding-bottom: 20px;
    text-decoration: underline;
}
.atras a:hover {
    color: var(--button);
}
