<h2>Política de cookies y privacidad</h2>
<div class="container-img">
    <img src="assets/avionHome.webp" alt="Avión de Aer Iolar parado">
</div>
<div class="container-img2">
    <img src="assets/avionLaptop.webp" alt="Avión de Aer Iolar parado">
</div>
<div class="home-banner">
    <h3>Su privacidad es importante para nosotros.</h3>
    <p>Al hacer uso de esta aplicación, acepta la política de cookies y privacidad.</p>
    <p>Nosotros y nuestros socios almacenamos o accedemos a información en un dispositivo, tales como cookies, y procesamos datos personales, tales como identificadores únicos e información estándar enviada por un dispositivo, para anuncios y contenido personalizados, medición de anuncios y del contenido e información sobre el público, así como para desarrollar y mejorar productos.</p>
    <p>Las cookies de este sitio web se usan para personalizar el contenido y los anuncios, ofrecer funciones de redes sociales y analizar el tráfico. Además, compartimos información sobre el uso que haga del sitio web con nuestros partners de redes sociales, publicidad y análisis web, quienes pueden combinarla con otra información que les haya proporcionado o que hayan recopilado a partir del uso que haya hecho de sus servicios.</p>
</div>