<button class="bt-search" routerLink="/search-booking">Mis reservas</button>
<div [ngStyle]="{'height': heightCaja}" id="caja" class="caja-mat">
  <div class="caja-mat__flex">
  <h2>Vuelos</h2>
  <form class="form-flight" #OneWay="ngForm" (ngSubmit)="onSubmit(OneWay.value)" novalidate>

    <mat-form-field>
      <mat-select class="return" [(ngModel)]="condicion"
      name="condicion">
        <mat-option (click)="smallerDiv()" value="B">Ida</mat-option>
        <mat-option (click)="biggerDiv()" value="A">Ida y vuelta</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>De <fa-icon [icon]="faPlaneUp"></fa-icon></mat-label>
      <mat-select id="source" name="source" ngModel [(ngModel)]="source" (ngModelChange)="onChangeSource($event)">
        <mat-option *ngFor="let city of cities" [value]="city.name">
          <img src='assets/flags/{{city.country_code}}.png'> {{city.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
       
    <section>
      <button class="boton-cambiar" (click)="change(source, destination)" mat-button><fa-icon [icon]="faChange"></fa-icon></button>
    </section>

    <mat-form-field>
      <mat-label > A <fa-icon [icon]="faPlaneDown"></fa-icon></mat-label>
      <mat-select id="destination" name="destination" ngModel [(ngModel)]="destination" (ngModelChange)="onChangedestination($event)">
        <mat-option *ngFor="let city of cities" [value]="city.name">
          <img src='assets/flags/{{city.country_code}}.png'> {{city.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <mat-error *ngIf="valueStatus">El origen y el destino no pueden coincidir</mat-error>
   <div class="form-group">
      <div class="form-date">
        <label class="form-date__label" for="input-date">Fecha de inicio</label>
        <input class="form-date__input" type="date" name="startDate" ngModel class="form-control" id="startDate" placeholder="Ida">
      </div>
    </div> 

    <div *ngIf="condicion === 'A'" class="form-group">
      <div class="form-date">
        <label class="form-date__label" for="input-date">Fecha de vuelta</label>
        <input class="form-date__input" type="date" name="endDate" ngModel id="endDate" placeholder="Vuelta" class="form-control">
      </div>
      
    </div>
      <button class="boton-buscar" type="submit" value="Search" (click)="onSubmit(OneWay.value)">Buscar</button>
    
  </form>
  </div>

  <div *ngIf="!flightStatus">

    <div>
    	<div class="title">
        <h3>
          <span>{{ source }} - </span>
          <span>{{ destination }} </span>
        </h3>
    	</div>
		<mat-error *ngIf="searchStatus"><fa-icon [icon]="faAviso"></fa-icon> No hay vuelos para las opciones elegidas.</mat-error>
    </div>
    <div *ngFor="let flight of filteredFlights" class="bookingBox">
      <div>
         <h2>Precio: {{ flight.price | currency: 'EUR'}}</h2> 
        <table class="table">
          <tbody>
            <tr>
              <td>
                <span>Número de vuelo: </span>
              </td>
              <td>
                <span>{{flight.flight_number}}AI</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>Día de salida:</span>
              </td>
              <td>
                <span>{{flight.boarding_time | date:'longDate'}}</span> 
              </td>
            </tr>
            <tr>
              <td>
                <span>Hora de salida:</span>
              </td>
              
              <td><span>{{flight.boarding_hour | removeDigits}}</span></td>
            </tr>
            <tr>
              <td>
                <span>Día de llegada:</span>
              </td>
              <td>
                <span>{{flight.arrival_time | date:'longDate' }}</span>
              </td>
            </tr>
            <tr>
              <td>
                <span>Hora de llegada:</span>
              </td>
              <td><span>{{flight.arrival_hour | removeDigits}}</span></td>
            </tr>
          </tbody>
        </table>

          <div class="form-userinfo" >
          <form *ngIf="!userConfirmado" [formGroup]="userForm" (ngSubmit)="checkUnregUser()">
            <h3>Por favor, introduzca la siguiente información:</h3>
            <div class="form-group">
              <label for="name">Nombre y apellidos:</label>
              <input type="text" name="name" placeholder="Nombre" [formControl]="name"> 
            </div>
          <div *ngIf="validateForm">
            <mat-error *ngIf="name.hasError('required')">
              El nombre y los apellidos son <strong>obligatorios</strong>
            </mat-error>
          </div>
            <div class="form-group">
              <label for="email">Correo electrónico:</label>
              <input type="text" name="email" placeholder="Correo electrónico" [formControl]="email">
            </div>
            <div *ngIf="validateForm">
              <mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                Por favor, introduzca una dirección de correo válida.
              </mat-error>
            <mat-error *ngIf="email.hasError('required')">
                El correo electrónico es <strong>obligatorio</strong>
            </mat-error></div>
            <div>
              <button type="submit">Añadir información</button>
            </div>
            
          </form>
          
          <div *ngIf="userConfirmado" class="bookingStatus">
              <button routerLink="/booking" (click)="setFlight(flight)" >Seleccionar vuelo</button>
            </div>
          </div>
          </div>
    </div>
  </div>
</div>