:root {
    --button: #BB1D1D;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.sesion {
    margin-top: 20px;
    margin-right: 15px;
    display: flex;
    justify-content: flex-end;
}
.logo {
    max-width: 150px;
    margin-right: 90px;
}
.circle-icon {
    background: #BB1D1D;
    opacity: 88%;
    padding: 9px;
    border-radius: 100%;
    color: #FFFFFF;
}
.class1 {
    background-color: #F2B71C;
}

/* GENERAL */

button {
    background-color: var(--button);
    height: 30px;
    width: 120px;
}
.loading {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1000;
    top: 0;
    left: 0;
    background-color: #00000057;
  
    display: flex;
    align-items: center;
    justify-content: center;
  }
.loading img {
    animation: floating 2s infinite;
}
.floating { 
    animation-name: floating;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    margin-left: 30px;
    margin-top: 5px;
}
 
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 15px); }
    100%   { transform: translate(0, -0px); }   
}
.stop-scrolling {
    height: 100%;
    overflow: hidden;
}
.button-container button {
    background-color: var(--button);
    height: 50px;
    width: 50px;
}
.button-container button:hover {
    background-color: var(--button-click);
}
.button-container {
        bottom: 140px;
        right: 0;
        height: 0;
        text-align: end;
        padding-right: 20px;
        position: fixed;
}
@media (min-width: 1200px) {
    .button-container {
        position: relative;
        margin-top: auto;
        bottom: 80px;
        text-align: end;
        padding-right: 20px;
    }
}
