<h2>Sobre Aer Iolar</h2>
<div class="container"> 
    <div class="avion">
        <div class="img-container"><img src="assets/avionLaptopnobg.webp" alt="Avión de Aer Iolar en el cielo"></div>
    </div>
    <div class="grid">
        <div>
            <img src="assets/location.png" alt="Dibujo del mundo con dos aviones volando alrededor de él">
            <p>21 destinos en dos continentes.</p>
        </div>
        <div>
            <img src="assets/airplane-about-us.png" alt="Dibujo de avión">
            <p>Nuestra flota se compone de 40 aviones.</p>
        </div>
        <div>
            <img src="assets/plane-window.png" alt="Dibujo de ventana de un avión donde se ve el ala del avión">
            <p>Nuestra aerolínea mueve a 2 millones de personas al año.</p>
        </div>
        <div>
            <img src="assets/air-hostess.png" alt="Dibujo de azafata">
            <p>Contamos con mas de 4000 empleados para brindarle la mejor experiencia.</p>
        </div>
    </div>
</div>