<div class="accordion-container">
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Datos personales
        </mat-panel-title>
        <mat-panel-description>
          Actualizar sus datos
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
    <form [formGroup]="userForm" (ngSubmit)="update()">
      <mat-form-field appearance="fill">
        <mat-label>Nombre</mat-label>
        <input matInput formControlName="name">
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Correo electrónico</mat-label>
        <input matInput formControlName="email">
      </mat-form-field>  

      <mat-form-field appearance="fill">
        <mat-label>Teléfono</mat-label>
        <input matInput formControlName="phone">
      </mat-form-field>
  
      <mat-action-row>
        <button mat-button color="primary" type="submit">Actualizar</button>
      </mat-action-row>
    </form>
    </mat-expansion-panel>

    <mat-expansion-panel (click)="check()" [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Mis vuelos
        </mat-panel-title>
        <mat-panel-description>
          Vuelos adquiridos
          <mat-icon>map</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <div *ngIf="userHasBooking">
        <div class="results">
            <div class="results__info" *ngFor="let reservation of filteredReservations">
                <h3>{{ reservation.origin }}</h3> 
                <div>
                    <img class="planeSearch2" src="assets/twoPlanes.png" alt="Dibujo de dos aviones">
                </div>
                <h3>{{ reservation.destination }}</h3>
             
            <div class="link-extras">               
                <a routerLink="/extras">Añadir extras de viaje</a>
            </div>
          </div>
        </div>
      </div>
    <div *ngIf="!userHasBooking">
      No dispone de ningún vuelo programado todavía.
    </div>
    </mat-expansion-panel>
  
    <mat-expansion-panel (click)="check()" [expanded]="step === 2" (opened)="setStep(2)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Tarjetas de embarque
        </mat-panel-title>
        <mat-panel-description>
          Tarjetas de embarque disponibles
          <mat-icon>card_travel</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div *ngIf="userHasBooking">
        <div class="results">
            <div>Resultados:</div>
             <div class="results__info" *ngFor="let reservation of filteredReservations">
                <h3>{{ reservation.origin }}</h3> 
                <div class="card-icon">
                    <img src="assets/boarding-passqr.png" alt="Dibujo de tarjeta de embarque">
                </div>
                <h3>{{ reservation.destination }}</h3>
             
            <div class="link-extras">               
                <a routerLink="/boarding-pass" (click)="setReservation(reservation)">Ver tarjeta de embarque</a>
            </div>
          </div> 
        </div>
    </div>
    </mat-expansion-panel>
  
  </mat-accordion>
</div>