<h2>Extras de viaje</h2>

<div *ngIf="!bought" class="boton">
    <button type="button" (click)="continue()">No quiero añadir nada</button>
</div>
<div *ngIf="bought" class="boton">
    <button type="button" (click)="continue()">Continuar</button>
</div>
<div class="container">
    <div class="extra-container">
        <div class="img-container">
            <img src="assets/bus.webp" alt="Autobús de dos plantas">
        </div>
        <div class="text">¿Necesita que le recojan del aeropuerto? Contrata nuestro servicio de recogida 24h por 20€</div>
        <button type="button" (click)="buyPickup()">Reservar recogida</button>
    </div>
    <div class="clouds">
        <mat-icon class="cloudDown">cloud</mat-icon>
        <mat-icon>cloud</mat-icon>
        <mat-icon class="cloudDown">cloud</mat-icon>
        <mat-icon>cloud</mat-icon>
        <img src="assets/drawing-plane.png" alt="Dibujo de un avión">
    </div>
    <div class="extra-container">
        <div class="img-container">
            <img src="assets/hiking-extras.webp" alt="Grupo de personas caminando en el campo"></div>
        <div class="text">¿No sabe qué hacer en el destino? Reserve nuestro pack de actividades por 25€</div>
        <button type="button" (click)="buyActivities()">Reservar actividades</button>
    </div>
    <div class="clouds">
        <mat-icon class="cloudDown">cloud</mat-icon>
        <mat-icon>cloud</mat-icon>
        <mat-icon class="cloudDown">cloud</mat-icon>
        <mat-icon>cloud</mat-icon>
        <img src="assets/drawing-plane.png" alt="Dibujo de un avión">
    </div>
    <div class="extra-container">
        <div class="img-container">
            <img src="assets/suitcase-extras.webp" alt="Dos maletas de pie en la calle"></div>
        <div class="text">Si no le basta con el equipaje de mano y necesita más espacio, puede contratar una maleta de 20kg por 50€</div>
        <button type="button" (click)="buySuitcase()">Reservar maleta</button>
    </div>
    <div class="atras">
        <button type="button" (click)="back()">Atrás</button>
    </div>
    <div class="cloudsLaptop">
        <mat-icon class="cloudDown">cloud</mat-icon>
        <mat-icon>cloud</mat-icon>
        <mat-icon class="cloudDown">cloud</mat-icon>
        <mat-icon>cloud</mat-icon>
        <img src="assets/drawing-plane.png" alt="Dibujo de un avión">
    </div>
</div>