* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --button: #BB1D1D;
    --button-click: #F2B71C;
}

body {
    background: linear-gradient(-120deg, rgba(20, 116, 205, 0.9) 60%, rgba(9, 104, 191, 0.9) 60%);
    background-attachment: fixed;
    font-family: 'Ubuntu', sans-serif;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
button {
    background-color: var(--button);
    height: 40px;
    width: 120px;
    border-radius: 12px;
    color: white;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
}
button:hover {
    background-color: var(--button-click);
    box-shadow: 0px 15px 20px rgba(240, 232, 113, 0.4);
    color: black;
    transform: translateY(-7px);
}
.snackbar {
    background-color: #5bbe40;
    color: white;
}
.snackbar button {
    background-color: transparent;
    color: white;
}
.snackbar button:hover {
    background-color: transparent;
    color: white;
    font-size: larger;
}
.mat-simple-snack-bar-content {
    width: 100%;
    text-align: center;
}
@media (min-width: 1200px) {
    .mat-simple-snackbar {
        font-size: 1.1rem;
    }
    .mat-snack-bar-container {
        margin-bottom: 150px !important;
    }
}