<!-- <div>
    <div class="seatmap">
        <img src="assets/seatmap-mobile.webp" alt="Mapa de asientos">
    </div>
</div> -->
<div>
  <h2>Elija su asiento</h2>
</div>
<div class="total" *ngIf="showReservation">Total: {{reservations.price | currency: 'EUR'}}</div>
<div class="container-info">
  <button *ngIf="!showIt" (click)="showInfo()" class="float">
    <mat-icon>info</mat-icon>
  </button>
  <button *ngIf="showIt" (click)="hideInfo()" class="float">
    <mat-icon>close</mat-icon>
  </button>
  <div class="info" *ngIf="showIt">
    <ol>
      <li>Filas 1 y 2 son primera clase <i class="arrow right"></i> <span class="specialPrice"> 80€</span></li>
      <li>Filas 3 y 4 son clase business <i class="arrow right"></i> <span class="specialPrice"> 40€</span></li>
      <li>El resto de filas es clase turista <i class="arrow right"></i> <span class="specialPrice"> 10€</span></li>
      <ul>Asiento ocupado:
        <li class="seat">
          <input type="checkbox" disabled/>
          <label class="ocupado">Ocupado</label>
        </li>
      </ul>
      <ul>Asiento disponible:
        <li class="seat">
          <input type="checkbox"  />
         <label class="ocupado">1A</label>
        </li>
      </ul>
      <ul>Asiento seleccionado:
        <li class="seat">
          <input type="checkbox"  />
          <label class="ocupado ejemplo">1A</label>
        </li>
      </ul>
    </ol>
  </div>
</div>
<div class="continue">
  <button (click)="setData(reservation)">Continuar</button>
</div>
<div class="seatmap" >
  <div class="plane" >
    <div class="plane-container" [formGroup]="form">
      <div class="column">
        <div class="row1">
          <div class="asiento" *ngFor="let seat of arraySeats1">
            <input type="checkbox" (change)="onCheck(this.seat)" id="{{seat}}" formArrayName="checkboxes"  />
            <label for="{{seat}}">{{seat}}</label>
          </div>
        </div>
        <div class="row2">
          <div class="asiento" *ngFor="let seat of arraySeats2">
            <input type="checkbox" (change)="onCheck(this.seat)" id="{{seat}}" formArrayName="checkboxes"  />
            <label for="{{seat}}">{{seat}}</label>
          </div>
        </div>
        <div class="row3">
          <div class="asiento3" *ngFor="let seat of arraySeats3">
            <input type="checkbox" (change)="onCheck(this.seat)" id="{{seat}}" formArrayName="checkboxes"  />
            <label for="{{seat}}">{{seat}}</label>
          </div>
        </div>
        <div class="row4">
          <div class="asiento3" *ngFor="let seat of arraySeats4">
            <input type="checkbox" (change)="onCheck(this.seat)" id="{{seat}}" formArrayName="checkboxes"  />
            <label for="{{seat}}">{{seat}}</label>
          </div>
        </div>
        <div class="row5">
          <div class="asiento3" *ngFor="let seat of arraySeats5">
            <input type="checkbox" (change)="onCheck(this.seat)" id="{{seat}}" formArrayName="checkboxes"  />
            <label for="{{seat}}">{{seat}}</label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="continue2">
  <button (click)="setData(reservation)">Continuar</button>
</div>
