h2 {
    color: white;
    text-align: center;
}
.seatmap {
    max-width: 100%;
    display: flex;
    justify-content: center;
    background-image: url('src/assets/seatmap-laptop.png');
    background-repeat: no-repeat;
    background-position: center;
}
.seatmap img {
    object-fit: contain;
    width: 100%;
}

.plane-container {
    margin: 20px auto;
    max-width: 300px;
    height: 2500px;
    width: 220px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(23, 60px);
}
.plane-container {
    padding-top: 370px;
}
.row1, .row2 {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 220px;
    margin-left: 5px;
}
.row2 {
    margin-top: 50px;
}
.row3, .row4, .row5 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 220px;
    margin-top: 180px;
    margin-left: 5px;
}
.row4 {
    margin-top: 50px;
}
.row5 {
    margin-top: 120px;
}
.asiento3 {
    padding-bottom: 10px;
}
.asiento3:nth-child(3) {
    margin-right: 20px;
}

.asiento3 {
    width: 27px;
}
.asiento {
    width: 38px;
    height: 38px;
    margin-bottom: 30px;
}
.asiento:nth-child(2) {
    margin-right: 35px;
}

.asiento label {
    height: 45px;
    width: 45px;
}

input[type=checkbox] {
    position: absolute;
    opacity: 0;
}
input[type=checkbox]:checked + label, .ejemplo {
    background: #bada55;      
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
    animation-duration: 300ms;
    animation-fill-mode: both;
}  

input[type=checkbox]:disabled + label {
    background: #dddddd;
    text-indent: -9999px;
    overflow: hidden;
}
input[type=checkbox]:disabled + label:after {
    content: "X";
    text-indent: 0;
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translate(-50%, 0%);
}
input[type=checkbox]:disabled + label:hover {
    box-shadow: none;
    cursor: not-allowed;
}
label {    
    display: block;
    position: relative;    
    width: 100%;    
    text-align: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.3rem;
    padding: 6px 2px;
    background: #F42536;
    border-radius: 5px;
    animation-duration: 300ms;
    animation-fill-mode: both;
}
.unselect {
    background: #F42536 !important;
}
.checked {
    background: #bada55 !important;      

}
label:before {
    content: "";
    position: absolute;
    width: 75%;
    height: 75%;
    top: 1px;
    left: 50%;
    transform: translate(-50%, 0%);
    background: rgba(255,255,255,.4);
    border-radius: 3px;
}
label:hover {
    cursor: pointer;
    box-shadow: 0 0 0px 2px #5C6AFF;
}
.row3 label, .row4 label, .row5 label {
    font-size: 11px;
}

@keyframes rubberBand {
    0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
    -webkit-transform: scale3d(.95, 1.05, 1);
    transform: scale3d(.95, 1.05, 1);
    }
  
    75% {
    -webkit-transform: scale3d(1.05, .95, 1);
    transform: scale3d(1.05, .95, 1);
    }
  
    100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
    }
}
.rubberBand {
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
}
.float{
	width:40px;
	height: 40px;
	margin-left: 40px;
	background-color: var(--button);
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	box-shadow: 2px 2px 3px rgb(52, 52, 52);
}

button mat-icon {
    padding-top: 6px;
}
.container-info {
    display: flex;
    position: absolute;
    z-index: 1;
}
.info {
    background-color: white;
    width: 240px;
    padding-left: 5px;
    border-radius: 24px;
    box-shadow: 2px 2px 3px rgba(52, 52, 52, 0.704);

}
.info li, .info ul {
    padding: 10px;
    list-style-type: none;
}
.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}
.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.specialPrice {
    color: var(--button);
    font-size: larger;
}  
.continue {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 150px;
    right: 80px;
}
.continue2 {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.total {
    color: white;
    text-align: center;
}
.atras {
    margin-bottom: 130px;
    padding-left: 20px;
}
@media (min-width: 1200px) {
    .atras {
       justify-content: flex-start;
       margin-bottom: 30px;
    }
    .continue2 {
        display: none;
    }
    .continue {
        right: 120px;
    }
    h2 {
        font-size: 1.6rem;
    }
}