.change-password {
    background-color: white;
    max-height: 510px;
    flex: 50%;
    margin: 30px;
    margin-top: 0;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.change-password button {
    margin: 10px;
    height: 30px;
}
input {
    height: 30px;
    margin: 10px;
}
.form-group {
    display: flex;
    flex-direction: column;
}
.error {
    color: red;
    padding: 10px;
}
.success {
    color: rgba(20, 116, 205, 0.9);
    padding: 10px;
}
.messageIcon img {
    max-width: 200px;
}
.messageIcon {
    display: flex;
    justify-content: center;
}
.atras {
    padding-left: 20px;
}
@media (min-width: 768px) {
     .atras {
        position: fixed;
        bottom: 130px;
        left: 30px;
    }
}
@media (min-width: 1200px) {
    .change-password {
        width: 60%;
        flex: none;
    }
    .main {
        display: flex;
        justify-content: center;
    }
    .atras{
        left: 100px;
    }
    h3 {
        font-size: 1.6rem;
    }
}